TrueDestiny/target/
TrueDestiny/pom.xml.tag
TrueDestiny/pom.xml.releaseBackup
TrueDestiny/pom.xml.versionsBackup
TrueDestiny/pom.xml.next
TrueDestiny/release.properties
TrueDestiny/dependency-reduced-pom.xml
TrueDestiny/buildNumber.properties
TrueDestiny/.mvn/timing.properties
# https://github.com/takari/maven-wrapper#usage-without-binary-jar
TrueDestiny/.mvn/wrapper/maven-wrapper.jar
